@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body,
p,
span {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
}
.pad_tb_120 {
  padding: 75px 0 0 0;
}

.grybg {
  background-color: #f9fafb;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid {
  max-width: 1480px;
}
.btn-primary {
  background-color: #e73a3e !important;
  border-color: #e73a3e;
  padding: 10px 40px;
  font-size: 16px;

  position: relative;
  z-index: 1;
}
.btn-primary:hover {
  border-color: #111;
}
.btn-primary::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #111;
  border-color: #111;

  z-index: -1;
  transition: 0.3s;
}
.btn-primary:hover::after {
  width: 100%;
}

/*  Slider / Banner CSS  */
.slider-section {
  background: url(./assets/banner-1.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
.slider-content-wrap {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-content h6 {
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
}
.slider-content h1 {
  font-size: 66px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  color: whitesmoke;
}
.slider-content p {
  font-weight: 400;
  line-height: 1.2em;
  color: #ffffff;
  font-size: 28px;
}

.header-social {
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-social ul {
  list-style: none;
  padding-left: 0;
}
.header-social ul li {
}
.header-social ul li span {
  font-size: 18px;
  display: inline-block;
  margin-right: 50px;
  position: relative;
  color: #ffffff;
}
.header-social ul li span::after {
  content: "";
  height: 1px;
  background: #fff;
  width: 35px;
  position: absolute;
  right: -45px;
  top: 51%;
}
.header-social ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 14px;
  color: #fff;
  font-size: 19px;
}
/* About section */
.base-header {
  text-align: left;
  padding-bottom: 1px;
}
.base-header {
  padding-bottom: 32px;
  width: 100%;
}
.base-header span {
  color: #e73a3e;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  line-height: 1em;
}
.base-header span .bor_header {
  position: relative;
  display: inline-block;
  height: 3px;
  background: #e73a3e;
  width: 40px;
  border-radius: 43px;
  margin-left: 20px;
  margin-right: 40px;
  top: -3px;
}
.about-section small {
  font-size: 80%;
  font-weight: 400;
}
.base-header span .bor_header:before,
.base-header span .bor_header:after {
  content: " ";
  width: 4px;
  height: 4px;
  position: absolute;
  right: -10px;
  background: #e73a3e;
  border-radius: 50%;
  top: 0;
}
.base-header span .bor_header:before,
.base-header span .bor_header:after {
  content: " ";
  width: 4px;
  height: 4px;
  position: absolute;
  right: -10px;
  background: #e73a3e;
  border-radius: 50%;
  top: 0;
}
.base-header span .bor_header:after {
  right: -20px;
}
/* chef  */
.chef_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
}
.chef {
  height: 510px;
  border-radius: 8px;
}
.chef_img {
  width: 376px;
  height: 300px;
  margin: 7px;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .chef_container {
    grid-template-columns: none;
  }
  .chef_img {
    width: 440px;
    height: 300px;
  }
  .base-header span {
    font-size: 15px;
  }
}
.card-conatainer {
  display: flex;
}
/* recipe-grid */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
}
@media only screen and (max-width: 600px) {
  .recipe-grid {
    grid-template-columns: none;
  }
  .card-conatainer {
    flex-direction: column;
  }
}
.w-10 {
  width: 2.5rem;
}
.list_style {
  list-style-type: none;
}
.hight_4 {
  height: 10rem;
}
/* SIgn in */
.sign-in-form {
  background: #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 40px;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}
.sign-in-form .sign-in-title {
  text-align: center;
  margin-bottom: 30px;
}
.sign-in-form .sign-in-title h3 {
  font-size: 30px;
  margin-bottom: 8px;
}
.sign-in-form .sign-in-title p {
  margin-bottom: 30px;
}
/* profile */
.profile-container {
  position: relative;
  display: inline-block;
}

.profile-picture {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Position above the profile picture */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
