@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body,
p,
span {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
}
.pad_tb_120 {
  padding: 120px 0 0 0;
}

.grybg {
  background-color: #f9fafb;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid {
  max-width: 1480px;
}
.btn-primary {
  background-color: #e73a3e !important;
  border-color: #e73a3e;
  padding: 10px 40px;
  font-size: 16px;

  position: relative;
  z-index: 1;
}
.btn-primary:hover {
  border-color: #111;
}
.btn-primary::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #111;
  border-color: #111;

  z-index: -1;
  transition: 0.3s;
}
.btn-primary:hover::after {
  width: 100%;
}

/*  Slider / Banner CSS  */
.slider-section {
  background: url(./assets/banner-1.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
.slider-content-wrap {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-content h6 {
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
}
.slider-content h1 {
  font-size: 66px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  color: whitesmoke;
}
.slider-content p {
  font-weight: 400;
  line-height: 1.2em;
  color: #ffffff;
  font-size: 28px;
}

.header-social {
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-social ul {
  list-style: none;
  padding-left: 0;
}
.header-social ul li {
}
.header-social ul li span {
  font-size: 18px;
  display: inline-block;
  margin-right: 50px;
  position: relative;
  color: #ffffff;
}
.header-social ul li span::after {
  content: "";
  height: 1px;
  background: #fff;
  width: 35px;
  position: absolute;
  right: -45px;
  top: 51%;
}
.header-social ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 14px;
  color: #fff;
  font-size: 19px;
}
